<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.eduardarefjev.aviaapp">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepEngineInfo">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepStartInfo">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepSmallGas">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepClosingKVD5">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepClosingKVD3">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepNom">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepMax">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepClosingKVDKPV">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepControlKND">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepN85">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.Step085Nom">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepN100">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepPickUp">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepSmallGas2">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepFinish">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepRunoutOfRotors">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.StepTanningBoardDisplayGenerator">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreationSteps.Records">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInformation.UserCreation">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInformation.ListOfUsers">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInformation.DetailedUserInfo">
        <intent-filter>
            <action android:name="android.intent.action.INFO" />

            <category android:name="android.intent.category.EDIT" />
        </intent-filter>
    </activity>
        <activity android:name=".CreationSteps.DetailedRecordInfo">
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.EDIT" />
            </intent-filter>
        </activity>
    </application>
</manifest>